// sass/layout/_app-container.scss
@import '../utils/mixins';


.app__container {
    padding: 50px;

    .todo__container {
        flex: 3;
        margin-right: 20px;
    }

    .calendar__container {
        flex: 1;

        @include responsive-max(tablet) {
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
