// sass/layout/_todo-calendar-container.scss
@import '../utils/_mixins.scss';
@import '../base/_variables.scss';


.container {
    text-align: left;
    display: flex;
    justify-content: space-between;
    border: .2rem solid var(--tertiary-color);
    padding: 20px;
    border: .2rem solid var(--tertiary-color);

    @include responsive-max(tablet) {
        display: flex;
        flex-direction: column;
    }

    @include border-radius(25px);
    @include box-shadow(0px 0px 30px 0 rgba(227, 228, 237, 0.37));
}
