// sass/components/_calendar-time-date.scss
@import '../utils/_mixins.scss';
@import '../base/_variables.scss';
@import '../utils/_animations.scss';


.calendar {

    &__date-time-format {
        border: .2rem solid var(--tertiary-color);
        height: max-content;
        font-family: var(--font-family-primary-extra-bold);
        position: relative;
        top: 40px;
        justify-content: center;
        padding: 30px 60px 30px 50px;
        margin-bottom: -80px;

        @include border-radius(15px);
        @include box-shadow(0px 0px 30px 0 rgba(227, 228, 237, 0.37));
    }

    &__day-text-format {
        display: block;
        padding: 25px 25px;
        font-family: var(--font-family-primary);
        /*font-weight: bold;*/
        font-size: 1.5rem;
        padding-right: 3%;
        border-right: 4px solid var(--secondary-color);
        position: absolute;
        left: -1rem;
        top: 2.5rem;
        color: var(--text-light);

        &--hideTime {
            animation: hidetime 1.5s forwards;
        }

        &--showtime {
            animation: showtime 3s forwards;
        }
    }

    &__date-time-value {
        border: .2rem solid var(--quaternary-color);
        font-family: var(--font-family-secondary-black);
        font-size: 1rem;
        display: block;
        height: max-content;
        position: relative;
        left: 27%;
        top: -3px;
        text-align: center;
        padding: 10px 10px;
        color: var(--quaternary-color);

        @include border-radius(15px);
        @include box-shadow(0px 0px 30px 0 rgba(227, 228, 237, 0.37));
    }

    &__time-format {
        font-size: 1.5rem;

        &--hideTime {
            animation: hidetime 1.5s forwards;
        }

        &--showtime {
            animation: showtime 3s forwards;
        }
    }

    &__day-text-format--hidetime,
    &__date-format--hideTime,
    &__date-time-value--hideTime,
    &__date-time-format--hideTime {
        animation: hidetime 1.5s forwards;
    }

    &__date-time-format--showtime {
        animation: showtime 2.5s forwards;
    }

    &__date-format--showtime,
    &__date-time-value--showtime,
    &__date-time-format--showtime {
        animation: showtime 1s forwards;
    }

    // Animations globales pour le calendrier
    &--hidetime {
        animation: hidetime 1.5s forwards;
    }

    &--showtime {
        animation: showtime 3s forwards;
    }
}
