// sass/components/_theme-switcher.scss
@import '../base/variables';
@import '../utils/mixins';
@import '../utils/animations';


.theme__wrapper {
    padding: 10px 20px;
    backdrop-filter: blur(30px);
    /*border: 2px solid rgba(255, 255, 255, 0.18);*/
    border: .2rem solid var(--tertiary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 80px;

    @include border-radius(25px);
    @include box-shadow(0px 0px 30px 0 rgba(227, 228, 237, 0.37));
}

.theme__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    padding: 2px 2px;
    background-color: var(--color-toggle-light);
    animation: showtime 1s ease-out;
    border: 1px solid rgba(255, 255, 255, 0.18);

    cursor: pointer;
    @include border-radius(35px);

    &.IsDark {
        background-color: var(--color-toggle-dark);
    }

    input {
        display: none;
    }

    div {
        width: 20px;
        height: 20px;
        position: relative;
        transform: scale(1) rotate(-2deg);
        transition: box-shadow 0.5s ease, transform 0.4s ease 0.1s;

        @include border-radius(50%);
        @include box-shadow(inset 8px -8px 0 0 var(--color-toggle-dark));

        &::before {
            content: "";
            width: inherit;
            height: inherit;
            border-radius: inherit;
            position: absolute;
            left: 0;
            top: 0;
            transition: background 0.3s ease;
        }

        &::after {
            width: 4px;
            height: 4px;
            margin: -2px 0 0 -2px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: scale(0);
            transition: all 0.3s ease;

            content: "";
            @include border-radius(50%);
            @include box-shadow(
                0 -13px 0 var(--color-toggle-light),
                0 13px 0 var(--color-toggle-light),
                13px 0 0 var(--color-toggle-light),
                -13px 0 0 var(--color-toggle-light),
                9px 9px 0 var(--color-toggle-light),
                -9px 9px 0 var(--color-toggle-light),
                9px -9px 0 var(--color-toggle-light),
                -9px -9px 0 var(--color-toggle-light)
            );
        }
    }

    input:checked + div {
        transform: scale(0.5) rotate(0deg);
        transition: transform 0.3s ease 0.1s, box-shadow 0.2s ease;

        @include box-shadow(inset 32px -32px 0 0 var(--color-toggle-light));

        &::before {
            background: var(--color-toggle-light);
            transition: background 0.3s ease 0.1s;
        }

        &::after {
            transform: scale(1.5);
            transition: transform 0.5s ease 0.15s;
        }
    }
}
