// sass/components/_todo.scss
.todo__container {
    flex: 3;
    margin-right: 20px;

    .list-group-custom {
        border: 2px solid var(--btn-border-color);
        color: var(--text-light);
        --bs-list-group-bg: var(--tertiary-color);
    }

    .hover-info {
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 5px;
        z-index: 10;
    }

    .list-group-item {
        &:hover {
            color: var(--text-light);
            background-color: var(--background-todo-item-hover);
        }
    }
    
}
