// sass/components/_todo-list-group.scss
@import '../base/variables';
@import '../utils/mixins';


.todo__container {
    flex: 3;
    margin-right: 20px;

    .list-group-custom {
        border: 2px solid var(--btn-border-color);
        color: var(--text-light);
        font-family: var(--font-family-secondary);
        --bs-list-group-bg: var(--tertiary-color);
    }

    .hover-info {
        margin: 5px;
        position: absolute;
        background-color: transparent;
        border: var(--custom-border);
        padding: 10px;
        z-index: 10;
        color: var(--text-light);
        font-weight: bold;
        font-family: var(--font-family-primary-extra-bold);

        @include border-radius(10px);
    }

    .list-group-item {
        color: var(--primary-color);
    
        &:hover {
            /*color: var(--text-light);*/
            /*background-color: #5b7fb5;*/
            background-color: var(--background-todo-item-hover);
        }
    }

    .form-check-input:checked {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
    }

    .form-control:focus {
        border-color: var(--quaternary-color);

        @include box-shadow(0 0 0 0.15rem var(--quaternary-color));
    }
}
