// sass/base/_base.scss
@import '../base/variables';


html, body {
    place-items: center;
    font-family: var(--font-family);
    background: linear-gradient(to right, #9796f0, #fbc7d4);
    height: 100%;

    h1.text-center {
        color: var(--primary-color);
        margin-top: 20px;
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    hr {
        border: .1rem solid var(--tertiary-color);
        margin-top: 40px;
    }
}
