// sass/base/_base.scss
@import '../base/variables';


html, body {
    place-items: center;
    font-family: var(--font-family);
    background: var(--background-body);
    height: 100%;
    overflow-x: hidden;

    h1.text-center {
        color: var(--primary-color);
        margin-top: 5px;
    }
}
