// sass/utils/_mixins.scss
@mixin border-radius($radius) {
    border-radius: $radius;
}

@mixin transition($property, $duration, $timing) {
    transition: $property $duration $timing;
}

@mixin box-shadow($shadow) {
    box-shadow: $shadow;
}

@mixin responsive-max($breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}
