:root {
  --primary-color: #395886;
  --secondary-color: #8AAEE0;
  --tertiary-color: #9796f0;
  --danger-color: #bb2d3b;
  --danger-border-color: #b02a37;
  --text-light: #f8fbff;
  --text-dark: #151426;
  --text-secondary: #c3c2c8;
  --text-muted: #f0f0f0;
  --text-hover: #f3f8fe;
  --background-body-start: rgba(3, 32, 48, 1);
  --background-body-middle: rgba(2, 43, 66, 1);
  --background-body-end: rgba(0, 53, 84, 1);
  --background-calendar-header: var(--primary-color);
  --background-calendar-weekdays: rgb(104, 104, 104);
  --background-calendar-days-hover: var(--tertiary-color);
  --background-month-list: var(--tertiary-color);
  --background-month-list-hover: var(--primary-color);
  --btn-bg: var(--primary-color);
  --btn-hover-bg: var(--primary-color);
  --btn-border-color: var(--secondary-color);
  --btn-hover-border-color: var(--primary-color);
  --btn-color: var(--secondary-color);
  --btn-hover-color: var(--text-light);
  --btn-active-bg: var(--primary-color);
  --btn-active-border-color: var(--primary-color);
  --border-radius: 4px;
  --shadow: rgba(100, 100, 111, 0.2) 5px 1px 20px 5px;
  --font-family: consolas;
}

html, body {
  place-items: center;
  font-family: var(--font-family);
  background: linear-gradient(to right, #9796f0, #fbc7d4);
  height: 100%;
}
html h1.text-center, body h1.text-center {
  color: var(--primary-color);
  margin-top: 20px;
}
html *, body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html hr, body hr {
  border: 0.1rem solid var(--tertiary-color);
  margin-top: 40px;
}

:root {
  --primary-color: #395886;
  --secondary-color: #8AAEE0;
  --tertiary-color: #9796f0;
  --danger-color: #bb2d3b;
  --danger-border-color: #b02a37;
  --text-light: #f8fbff;
  --text-dark: #151426;
  --text-secondary: #c3c2c8;
  --text-muted: #f0f0f0;
  --text-hover: #f3f8fe;
  --background-body-start: rgba(3, 32, 48, 1);
  --background-body-middle: rgba(2, 43, 66, 1);
  --background-body-end: rgba(0, 53, 84, 1);
  --background-calendar-header: var(--primary-color);
  --background-calendar-weekdays: rgb(104, 104, 104);
  --background-calendar-days-hover: var(--tertiary-color);
  --background-month-list: var(--tertiary-color);
  --background-month-list-hover: var(--primary-color);
  --btn-bg: var(--primary-color);
  --btn-hover-bg: var(--primary-color);
  --btn-border-color: var(--secondary-color);
  --btn-hover-border-color: var(--primary-color);
  --btn-color: var(--secondary-color);
  --btn-hover-color: var(--text-light);
  --btn-active-bg: var(--primary-color);
  --btn-active-border-color: var(--primary-color);
  --border-radius: 4px;
  --shadow: rgba(100, 100, 111, 0.2) 5px 1px 20px 5px;
  --font-family: consolas;
}

.btn {
  border-color: var(--btn-bg);
  color: var(--text-light);
  border-radius: var(--border-radius);
}
.btn-danger {
  background-color: var(--btn-bg);
  border-color: var(--btn-bg);
  color: var(--text-light);
}
.btn-primary {
  background-color: rgba(57, 88, 134, 0);
  border-color: rgba(57, 88, 134, 0);
}
.btn-custom {
  background-color: transparent;
  border-color: var(--btn-hover-border-color);
  white-space: nowrap;
}
.btn-custom:hover {
  background-color: var(--btn-hover-bg);
  border-color: var(--btn-hover-border-color);
}
.btn-outline-primary {
  border-color: var(--btn-hover-border-color);
  color: var(--text-light);
}
.btn-outline-primary:hover {
  color: var(--btn-hover-color);
  background-color: var(--btn-hover-bg);
  border-color: var(--btn-hover-border-color);
}
.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active {
  background-color: var(--btn-active-bg);
  border-color: var(--btn-active-border-color);
  color: var(--text-light);
}
.btn:not(.active) {
  border-color: var(--btn-bg);
  color: var(--text-light);
}
.btn:active {
  background-color: transparent !important;
  border-color: inherit !important;
  color: inherit !important;
}

@keyframes to-top {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}
@keyframes to-left {
  0% {
    transform: translatex(230%);
    opacity: 1;
  }
  100% {
    transform: translatex(0);
    opacity: 1;
  }
}
@keyframes to-right {
  10% {
    transform: translatex(0);
    opacity: 1;
  }
  100% {
    transform: translatex(-150%);
    opacity: 1;
  }
}
@keyframes showtime {
  0% {
    transform: translatex(250%);
    opacity: 1;
  }
  100% {
    transform: translatex(0%);
    opacity: 1;
  }
}
@keyframes hidetime {
  0% {
    transform: translatex(0%);
    opacity: 1;
  }
  100% {
    transform: translatex(-370%);
    opacity: 1;
  }
}
.calendar__day--highlighted {
  background-color: #ffeb3b;
  border: 2px solid #f57c00;
  color: #f57c00;
  border-radius: 50%;
}

.calendar__week-days div:hover {
  color: var(--text-dark);
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}
.calendar__days div {
  animation: to-top 1s forwards;
}
.calendar__days div:hover {
  color: var(--text-dark);
  background-color: var(--background-calendar-days-hover);
  border-radius: 20%;
  transition: width 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
}
.calendar__days div.calendar__day--current-date {
  color: var(--text-light);
  background-color: var(--primary-color);
  border-radius: 20%;
}
.calendar__month-picker:hover {
  background-color: var(--tertiary-color);
  color: var(--text-light);
}
.calendar__year-change:hover {
  background-color: var(--tertiary-color);
  transform: scale(1.12);
  transition: background-color 0.2s ease-in-out;
}
.calendar__month-list.calendar__month-list--show {
  display: grid;
  animation: showtime 1s forwards;
  backdrop-filter: blur(30px);
  /*box-shadow: 0px 0px 30px 0 rgba(227, 228, 237, 0.37);*/
  box-shadow: 0px 0px 30px 0 rgba(0, 25, 252, 0.37);
  /*border: 2px solid rgba(255, 255, 255, 0.18);*/
  border: 2px solid rgba(0, 0, 0, 0.18);
}
.calendar__time-format {
  font-size: 1.5rem;
}
.calendar__time-format--hideTime {
  animation: hidetime 1.5s forwards;
}
.calendar__time-format--showtime {
  animation: showtime 2s forwards;
}
.calendar__date-format {
  font-size: 0.9rem;
}
.calendar__date-format--hideTime {
  animation: hidetime 1.5s forwards;
}
.calendar__date-format--showtime {
  animation: showtime 1s forwards;
}
.calendar__day-text-format--hidetime, .calendar__date-format--hideTime, .calendar__date-time-value--hideTime, .calendar__date-time-format--hideTime {
  animation: hidetime 1.5s forwards;
}
.calendar__day-text-format--showtime, .calendar__date-format--showtime, .calendar__date-time-value--showtime, .calendar__date-time-format--showtime {
  animation: showtime 1s forwards;
}
.calendar--hide {
  animation: hidetime 1s forwards;
}
.calendar--showtime {
  animation: showtime 1s forwards;
}
.calendar__month-list--hideonce {
  visibility: hidden;
}
.calendar__month-list--hide {
  animation: to-right 1s forwards;
  visibility: hidden;
  pointer-events: none;
}
.calendar__month-item--active {
  font-weight: bold;
  background-color: var(--primary-color);
  color: var(--text-muted);
}
.calendar__month-item:hover {
  background-color: var(--primary-color);
  color: var(--text-muted);
}

.calendar {
  width: 400px;
  overflow: hidden;
  padding: 20px 50px 0px 50px;
  box-shadow: var(--shadow);
  border-radius: 25px;
}
.calendar__header {
  background: var(--background-calendar-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: var(--text-light);
  padding: 10px;
  border-radius: 15px;
}
.calendar__week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--background-calendar-weekdays);
  cursor: pointer;
}
.calendar__week-days div {
  display: grid;
  place-items: center;
  height: 50px;
}
.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: var(--text-dark);
  margin: 5px;
}
.calendar__days div {
  width: 37px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
}
.calendar__month-picker {
  font-family: Microsoft JhengHei UI;
  font-size: 1.4rem;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
}
.calendar__year-picker {
  display: flex;
  align-items: center;
}
.calendar__year-change {
  height: 30px;
  width: 30px;
  display: grid;
  place-items: center;
  margin: 0px 10px;
  cursor: pointer;
  border-radius: 50%;
}
.calendar__footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.calendar__month-list {
  position: relative;
  top: -20px;
  background-color: var(--light-btn);
  color: var(--text-dark);
  display: grid;
  grid-template-columns: repeat(3, auto);
  border-radius: 20px;
  box-shadow: var(--shadow);
  border: 2px solid var(--primary-color);
}
.calendar__month-list div {
  display: grid;
  place-items: center;
  margin: 5px;
  cursor: pointer;
  border-radius: 12px;
}
.calendar__date-time-format {
  border-radius: 15px;
  border: 0.2rem solid var(--tertiary-color);
  height: max-content;
  font-family: Dubai Light, Century Gothic;
  position: relative;
  top: 35px;
  justify-content: center;
  padding: 30px 60px 30px 50px;
  margin-bottom: -80px;
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px 0 rgba(227, 228, 237, 0.37);
}
.calendar__day-text-format {
  display: block;
  padding: 12px 25px;
  font-family: Microsoft JhengHei UI;
  font-size: 1.4rem;
  padding-right: 5%;
  border-right: 4px solid #d7d6e9;
  position: absolute;
  left: -1rem;
}
.calendar__day-text-format--hideTime {
  animation: hidetime 1.5s forwards;
}
.calendar__day-text-format--showtime {
  animation: showtime 2s forwards;
}
.calendar__date-time-value {
  border-radius: 15px;
  border: 0.2rem solid #9796f0;
  display: block;
  height: max-content;
  position: relative;
  left: 27%;
  top: -3px;
  text-align: center;
}
.calendar span {
  font-size: 1rem;
}

.reveal__loaded .reveal [class*=reveal-] {
  opacity: 0 !important;
  transform: translateY(-30px);
  transition: opacity 0s, transform 0s !important;
}
.reveal__loaded [class*=reveal-] {
  transition: opacity 1s cubic-bezier(0.5, 0, 0, 1), transform 1s cubic-bezier(0.5, 0, 0, 1);
}
.reveal__loaded .reveal-1 {
  transition-delay: 0.1s;
}
.reveal__loaded .reveal-2 {
  transition-delay: 0.2s;
}
.reveal__loaded .reveal-3 {
  transition-delay: 0.3s;
}
.reveal__loaded .reveal-4 {
  transition-delay: 0.4s;
}

@media (prefers-reduced-motion: reduce) {
  .reveal [class*=reveal-] {
    opacity: 1 !important;
    transform: translateY(0px) !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
.todo__container {
  flex: 3;
  margin-right: 20px;
}
.todo__container .list-group-custom {
  border: 2px solid var(--btn-border-color);
  color: var(--text-light);
  --bs-list-group-bg: var(--tertiary-color);
}

.app__container {
  padding: 20px;
}
.app__container .todo__container {
  flex: 3;
  margin-right: 20px;
}
.app__container .calendar__container {
  flex: 1;
}
@media screen and (max-width: 900px) {
  .app__container .calendar__container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

:root {
  --primary-color: #395886;
  --secondary-color: #8AAEE0;
  --tertiary-color: #9796f0;
  --danger-color: #bb2d3b;
  --danger-border-color: #b02a37;
  --text-light: #f8fbff;
  --text-dark: #151426;
  --text-secondary: #c3c2c8;
  --text-muted: #f0f0f0;
  --text-hover: #f3f8fe;
  --background-body-start: rgba(3, 32, 48, 1);
  --background-body-middle: rgba(2, 43, 66, 1);
  --background-body-end: rgba(0, 53, 84, 1);
  --background-calendar-header: var(--primary-color);
  --background-calendar-weekdays: rgb(104, 104, 104);
  --background-calendar-days-hover: var(--tertiary-color);
  --background-month-list: var(--tertiary-color);
  --background-month-list-hover: var(--primary-color);
  --btn-bg: var(--primary-color);
  --btn-hover-bg: var(--primary-color);
  --btn-border-color: var(--secondary-color);
  --btn-hover-border-color: var(--primary-color);
  --btn-color: var(--secondary-color);
  --btn-hover-color: var(--text-light);
  --btn-active-bg: var(--primary-color);
  --btn-active-border-color: var(--primary-color);
  --border-radius: 4px;
  --shadow: rgba(100, 100, 111, 0.2) 5px 1px 20px 5px;
  --font-family: consolas;
}

.container {
  text-align: left;
  display: flex;
  justify-content: space-between;
  border: 0.2rem solid var(--tertiary-color);
  padding: 20px;
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px 0 rgba(227, 228, 237, 0.37);
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 25px;
}
@media screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

:root {
  --primary-color: #395886;
  --secondary-color: #8AAEE0;
  --tertiary-color: #9796f0;
  --danger-color: #bb2d3b;
  --danger-border-color: #b02a37;
  --text-light: #f8fbff;
  --text-dark: #151426;
  --text-secondary: #c3c2c8;
  --text-muted: #f0f0f0;
  --text-hover: #f3f8fe;
  --background-body-start: rgba(3, 32, 48, 1);
  --background-body-middle: rgba(2, 43, 66, 1);
  --background-body-end: rgba(0, 53, 84, 1);
  --background-calendar-header: var(--primary-color);
  --background-calendar-weekdays: rgb(104, 104, 104);
  --background-calendar-days-hover: var(--tertiary-color);
  --background-month-list: var(--tertiary-color);
  --background-month-list-hover: var(--primary-color);
  --btn-bg: var(--primary-color);
  --btn-hover-bg: var(--primary-color);
  --btn-border-color: var(--secondary-color);
  --btn-hover-border-color: var(--primary-color);
  --btn-color: var(--secondary-color);
  --btn-hover-color: var(--text-light);
  --btn-active-bg: var(--primary-color);
  --btn-active-border-color: var(--primary-color);
  --border-radius: 4px;
  --shadow: rgba(100, 100, 111, 0.2) 5px 1px 20px 5px;
  --font-family: consolas;
}

.logo__container {
  border: 0.2rem solid var(--tertiary-color);
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 10px;
  font-size: 2.2rem;
  max-width: 50%;
  margin: 25px auto 20px;
  height: 110px;
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px 0 rgba(227, 228, 237, 0.37);
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 25px;
}
@media screen and (max-width: 900px) {
  .logo__container {
    padding: 0px;
    height: 120px;
  }
}

@keyframes to-top {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}
@keyframes to-left {
  0% {
    transform: translatex(230%);
    opacity: 1;
  }
  100% {
    transform: translatex(0);
    opacity: 1;
  }
}
@keyframes to-right {
  10% {
    transform: translatex(0);
    opacity: 1;
  }
  100% {
    transform: translatex(-150%);
    opacity: 1;
  }
}
@keyframes showtime {
  0% {
    transform: translatex(250%);
    opacity: 1;
  }
  100% {
    transform: translatex(0%);
    opacity: 1;
  }
}
@keyframes hidetime {
  0% {
    transform: translatex(0%);
    opacity: 1;
  }
  100% {
    transform: translatex(-370%);
    opacity: 1;
  }
}

/*# sourceMappingURL=index.css.map */
