/* Background gradient for the body */
body {
    background: rgb(3, 32, 48);
    background: linear-gradient(90deg, rgba(3, 32, 48, 1) 0%, rgba(2, 43, 66, 1) 40%, rgba(0, 53, 84, 1) 80%);
}

/* Styles for the main heading */
h1.text-center {
    color: #8AAEE0;
    margin-top: 20px;
}

/* Hide completed or todo items based on filter */
.hide-completed .is-completed,
.hide-todo .todo:not(.is-completed) {
    display: none !important;
}

/* Custom button styles */
.btn-custom {
    --bs-btn-hover-bg: #395886;
    --bs-btn-bg: ##395886;
    --bs-btn-border-color: #8AAEE0;
    --bs-btn-hover-border-color: #395886;
    background-color: var(--bs-btn-bg);
    border-color: var(--bs-btn-border-color);
}

.btn-custom:hover {
    background-color: var(--bs-btn-hover-bg);
}

/* Custom styles for list group */
.list-group-custom {
    --bs-list-group-bg: #395886;
    --bs-list-group-border-width: 2px;
    --bs-list-group-border-color: #8AAEE0;
    --bs-list-group-color: #fff;
    background-color: var(--bs-list-group-bg);
    border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
    color: var(--bs-list-group-color);
}

/* Custom styles for outline primary button */
.btn-outline-primary {
    --bs-btn-color: #8AAEE0;
    --bs-btn-border-color: #8AAEE0;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #395886;
    --bs-btn-hover-border-color: #395886;
    border-radius: var(--bs-border-radius, 4px);
    color: var(--bs-btn-color);
    border-color: var(--bs-btn-border-color);
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color: #395886;
    border-color: #395886;
}

/* Left-align the container */
.container {
    text-align: left;
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}
