:root {
  /*--background-body: linear-gradient(to right, #9796f0, #fbc7d4);*/
  /*--background-body: url('../../static/img/mountain_light.png') no-repeat center center/cover;*/
  --background-body:
  linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
  ),
  url("../../static/img/mountain_light.png") no-repeat center center/cover;
  --primary-color: #395886;
  --secondary-color: #8AAEE0;
  --tertiary-color: #9796f0;
  --quaternary-color: #e0e0ee;
  --danger-color: #bb2d3b;
  --danger-border-color: #b02a37;
  --text-light: #f8fbff;
  --text-dark: #151426;
  --text-secondary: #c3c2c8;
  --text-muted: #f0f0f0;
  --text-hover: #f3f8fe;
  --background-body-start: rgba(3, 32, 48, 1);
  --background-body-middle: rgba(2, 43, 66, 1);
  --background-body-end: rgba(0, 53, 84, 1);
  --background-calendar-header: var(--primary-color);
  --background-calendar-weekdays: var(--quaternary-color);
  --background-calendar-days-hover: var(--quaternary-color);
  --background-month-list: var(--tertiary-color);
  --background-month-list-hover: var(--primary-color);
  --background-todo-item-hover: var(--quaternary-color);
  --btn-bg: var(--primary-color);
  --btn-hover-bg: var(--primary-color);
  --btn-border-color: var(--secondary-color);
  --btn-hover-border-color: var(--primary-color);
  --btn-color: var(--secondary-color);
  --btn-hover-color: var(--text-light);
  --btn-active-bg: var(--primary-color);
  --btn-active-border-color: var(--primary-color);
  --custom-border: 1px solid var(--tertiary-color);
  --border-radius: 4px;
  --shadow: rgba(100, 100, 111, 0.2) 5px 1px 20px 5px;
  --color-toggle-light: #fff;
  --color-toggle-dark: #000;
  --font-family-primary: "Manrope", sans-serif;
  --font-family-primary-extra-bold: "Manrope", sans-serif;
  --font-family-secondary: "Outfit", sans-serif;
  --font-family-secondary-black: "Outfit", sans-serif;
}

body.dark {
  /*--background-body: linear-gradient(90deg, rgba(26,29,41,1) 0%, rgba(61,63,74,1) 25%, rgba(125,132,145,1) 75%, rgba(177,178,181,1) 100%);*/
  /*--background-body: url('../../static/img/mountain_dark.png') no-repeat center center/cover;*/
  --background-body:
  linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
  ),
  url("../../static/img/mountain_dark.png") no-repeat center center/cover;
  --primary-color: #1A1D29;
  --secondary-color: #3D3F4A;
  --tertiary-color: #7D8491;
  --quaternary-color: #B1B2B5;
  --danger-color: #bb2d3b;
  --danger-border-color: #b02a37;
  --text-light: #f8fbff;
  --text-dark: #151426;
  --text-secondary: #c3c2c8;
  --text-muted: #f0f0f0;
  --text-hover: #f3f8fe;
  --background-body-start: rgba(3, 32, 48, 1);
  --background-body-middle: rgba(2, 43, 66, 1);
  --background-body-end: rgba(0, 53, 84, 1);
  --background-calendar-header: var(--primary-color);
  --background-calendar-weekdays: var(--quaternary-color);
  --background-calendar-days-hover: var(--quaternary-color);
  --background-month-list: var(--tertiary-color);
  --background-month-list-hover: var(--primary-color);
  --background-todo-item-hover: var(--quaternary-color);
  --btn-bg: var(--primary-color);
  --btn-hover-bg: var(--primary-color);
  --btn-border-color: var(--secondary-color);
  --btn-hover-border-color: var(--primary-color);
  --btn-color: var(--secondary-color);
  --btn-hover-color: var(--text-light);
  --btn-active-bg: var(--primary-color);
  --btn-active-border-color: var(--primary-color);
  --custom-border: 1px solid var(--tertiary-color);
  --border-radius: 4px;
  --shadow: rgba(100, 100, 111, 0.2) 5px 1px 20px 5px;
  --color-toggle-light: #eee;
  --color-toggle-dark: #000;
}

@font-face {
  font-family: "Manrope";
  src: url("../../static/fonts/Manrope/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../../static/fonts/Manrope/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../../static/fonts/Outfit/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../../static/fonts/Outfit/Outfit-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
html, body {
  place-items: center;
  font-family: var(--font-family-primary);
  background: var(--background-body);
  height: 100%;
  overflow-x: hidden;
}
html h1.text-center, body h1.text-center {
  font-family: var(--font-family-secondary-bold);
  color: var(--primary-color);
  margin-top: -25px;
}

@font-face {
  font-family: "Manrope";
  src: url("../../static/fonts/Manrope/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../../static/fonts/Manrope/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../../static/fonts/Outfit/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../../static/fonts/Outfit/Outfit-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
:root {
  /*--background-body: linear-gradient(to right, #9796f0, #fbc7d4);*/
  /*--background-body: url('../../static/img/mountain_light.png') no-repeat center center/cover;*/
  --background-body:
  linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
  ),
  url("../../static/img/mountain_light.png") no-repeat center center/cover;
  --primary-color: #395886;
  --secondary-color: #8AAEE0;
  --tertiary-color: #9796f0;
  --quaternary-color: #e0e0ee;
  --danger-color: #bb2d3b;
  --danger-border-color: #b02a37;
  --text-light: #f8fbff;
  --text-dark: #151426;
  --text-secondary: #c3c2c8;
  --text-muted: #f0f0f0;
  --text-hover: #f3f8fe;
  --background-body-start: rgba(3, 32, 48, 1);
  --background-body-middle: rgba(2, 43, 66, 1);
  --background-body-end: rgba(0, 53, 84, 1);
  --background-calendar-header: var(--primary-color);
  --background-calendar-weekdays: var(--quaternary-color);
  --background-calendar-days-hover: var(--quaternary-color);
  --background-month-list: var(--tertiary-color);
  --background-month-list-hover: var(--primary-color);
  --background-todo-item-hover: var(--quaternary-color);
  --btn-bg: var(--primary-color);
  --btn-hover-bg: var(--primary-color);
  --btn-border-color: var(--secondary-color);
  --btn-hover-border-color: var(--primary-color);
  --btn-color: var(--secondary-color);
  --btn-hover-color: var(--text-light);
  --btn-active-bg: var(--primary-color);
  --btn-active-border-color: var(--primary-color);
  --custom-border: 1px solid var(--tertiary-color);
  --border-radius: 4px;
  --shadow: rgba(100, 100, 111, 0.2) 5px 1px 20px 5px;
  --color-toggle-light: #fff;
  --color-toggle-dark: #000;
  --font-family-primary: "Manrope", sans-serif;
  --font-family-primary-extra-bold: "Manrope", sans-serif;
  --font-family-secondary: "Outfit", sans-serif;
  --font-family-secondary-black: "Outfit", sans-serif;
}

body.dark {
  /*--background-body: linear-gradient(90deg, rgba(26,29,41,1) 0%, rgba(61,63,74,1) 25%, rgba(125,132,145,1) 75%, rgba(177,178,181,1) 100%);*/
  /*--background-body: url('../../static/img/mountain_dark.png') no-repeat center center/cover;*/
  --background-body:
  linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
  ),
  url("../../static/img/mountain_dark.png") no-repeat center center/cover;
  --primary-color: #1A1D29;
  --secondary-color: #3D3F4A;
  --tertiary-color: #7D8491;
  --quaternary-color: #B1B2B5;
  --danger-color: #bb2d3b;
  --danger-border-color: #b02a37;
  --text-light: #f8fbff;
  --text-dark: #151426;
  --text-secondary: #c3c2c8;
  --text-muted: #f0f0f0;
  --text-hover: #f3f8fe;
  --background-body-start: rgba(3, 32, 48, 1);
  --background-body-middle: rgba(2, 43, 66, 1);
  --background-body-end: rgba(0, 53, 84, 1);
  --background-calendar-header: var(--primary-color);
  --background-calendar-weekdays: var(--quaternary-color);
  --background-calendar-days-hover: var(--quaternary-color);
  --background-month-list: var(--tertiary-color);
  --background-month-list-hover: var(--primary-color);
  --background-todo-item-hover: var(--quaternary-color);
  --btn-bg: var(--primary-color);
  --btn-hover-bg: var(--primary-color);
  --btn-border-color: var(--secondary-color);
  --btn-hover-border-color: var(--primary-color);
  --btn-color: var(--secondary-color);
  --btn-hover-color: var(--text-light);
  --btn-active-bg: var(--primary-color);
  --btn-active-border-color: var(--primary-color);
  --custom-border: 1px solid var(--tertiary-color);
  --border-radius: 4px;
  --shadow: rgba(100, 100, 111, 0.2) 5px 1px 20px 5px;
  --color-toggle-light: #eee;
  --color-toggle-dark: #000;
}

:root {
  /*--background-body: linear-gradient(to right, #9796f0, #fbc7d4);*/
  /*--background-body: url('../../static/img/mountain_light.png') no-repeat center center/cover;*/
  --background-body:
  linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
  ),
  url("../../static/img/mountain_light.png") no-repeat center center/cover;
  --primary-color: #395886;
  --secondary-color: #8AAEE0;
  --tertiary-color: #9796f0;
  --quaternary-color: #e0e0ee;
  --danger-color: #bb2d3b;
  --danger-border-color: #b02a37;
  --text-light: #f8fbff;
  --text-dark: #151426;
  --text-secondary: #c3c2c8;
  --text-muted: #f0f0f0;
  --text-hover: #f3f8fe;
  --background-body-start: rgba(3, 32, 48, 1);
  --background-body-middle: rgba(2, 43, 66, 1);
  --background-body-end: rgba(0, 53, 84, 1);
  --background-calendar-header: var(--primary-color);
  --background-calendar-weekdays: var(--quaternary-color);
  --background-calendar-days-hover: var(--quaternary-color);
  --background-month-list: var(--tertiary-color);
  --background-month-list-hover: var(--primary-color);
  --background-todo-item-hover: var(--quaternary-color);
  --btn-bg: var(--primary-color);
  --btn-hover-bg: var(--primary-color);
  --btn-border-color: var(--secondary-color);
  --btn-hover-border-color: var(--primary-color);
  --btn-color: var(--secondary-color);
  --btn-hover-color: var(--text-light);
  --btn-active-bg: var(--primary-color);
  --btn-active-border-color: var(--primary-color);
  --custom-border: 1px solid var(--tertiary-color);
  --border-radius: 4px;
  --shadow: rgba(100, 100, 111, 0.2) 5px 1px 20px 5px;
  --color-toggle-light: #fff;
  --color-toggle-dark: #000;
  --font-family-primary: "Manrope", sans-serif;
  --font-family-primary-extra-bold: "Manrope", sans-serif;
  --font-family-secondary: "Outfit", sans-serif;
  --font-family-secondary-black: "Outfit", sans-serif;
}

body.dark {
  /*--background-body: linear-gradient(90deg, rgba(26,29,41,1) 0%, rgba(61,63,74,1) 25%, rgba(125,132,145,1) 75%, rgba(177,178,181,1) 100%);*/
  /*--background-body: url('../../static/img/mountain_dark.png') no-repeat center center/cover;*/
  --background-body:
  linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
  ),
  url("../../static/img/mountain_dark.png") no-repeat center center/cover;
  --primary-color: #1A1D29;
  --secondary-color: #3D3F4A;
  --tertiary-color: #7D8491;
  --quaternary-color: #B1B2B5;
  --danger-color: #bb2d3b;
  --danger-border-color: #b02a37;
  --text-light: #f8fbff;
  --text-dark: #151426;
  --text-secondary: #c3c2c8;
  --text-muted: #f0f0f0;
  --text-hover: #f3f8fe;
  --background-body-start: rgba(3, 32, 48, 1);
  --background-body-middle: rgba(2, 43, 66, 1);
  --background-body-end: rgba(0, 53, 84, 1);
  --background-calendar-header: var(--primary-color);
  --background-calendar-weekdays: var(--quaternary-color);
  --background-calendar-days-hover: var(--quaternary-color);
  --background-month-list: var(--tertiary-color);
  --background-month-list-hover: var(--primary-color);
  --background-todo-item-hover: var(--quaternary-color);
  --btn-bg: var(--primary-color);
  --btn-hover-bg: var(--primary-color);
  --btn-border-color: var(--secondary-color);
  --btn-hover-border-color: var(--primary-color);
  --btn-color: var(--secondary-color);
  --btn-hover-color: var(--text-light);
  --btn-active-bg: var(--primary-color);
  --btn-active-border-color: var(--primary-color);
  --custom-border: 1px solid var(--tertiary-color);
  --border-radius: 4px;
  --shadow: rgba(100, 100, 111, 0.2) 5px 1px 20px 5px;
  --color-toggle-light: #eee;
  --color-toggle-dark: #000;
}

.btn {
  border-color: var(--btn-bg);
  color: var(--text-light);
}
.btn {
  border-radius: var(--border-radius);
}
.btn-danger {
  background-color: var(--btn-bg);
  border-color: var(--btn-bg);
  color: var(--text-light);
}
.btn-primary {
  background-color: rgba(57, 88, 134, 0);
  border-color: rgba(57, 88, 134, 0);
}
.btn-custom {
  background-color: transparent;
  border-color: var(--btn-hover-border-color);
  white-space: nowrap;
}
.btn-custom:hover {
  background-color: var(--btn-hover-bg);
  border-color: var(--btn-hover-border-color);
}
.btn-outline-primary {
  border-color: var(--btn-hover-border-color);
  color: var(--text-light);
}
.btn-outline-primary:hover {
  color: var(--btn-hover-color);
  background-color: var(--btn-hover-bg);
  border-color: var(--btn-hover-border-color);
}
.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active {
  background-color: var(--btn-active-bg);
  border-color: var(--btn-active-border-color);
  color: var(--text-light);
}
.btn:not(.active) {
  border-color: var(--btn-bg);
}
.btn:active {
  background-color: transparent !important;
  border-color: inherit !important;
  color: inherit !important;
}
.btn:hover {
  color: var(--text-light);
}

@keyframes to-top {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}
@keyframes to-left {
  0% {
    transform: translatex(230%);
    opacity: 1;
  }
  100% {
    transform: translatex(0);
    opacity: 1;
  }
}
@keyframes to-right {
  10% {
    transform: translatex(0);
    opacity: 1;
  }
  100% {
    transform: translatex(-150%);
    opacity: 1;
  }
}
@keyframes showtime {
  0% {
    transform: translatex(250%);
    opacity: 1;
  }
  100% {
    transform: translatex(0%);
    opacity: 1;
  }
}
@keyframes hidetime {
  0% {
    transform: translatex(0%);
    opacity: 1;
  }
  100% {
    transform: translatex(-370%);
    opacity: 1;
  }
}
:root {
  /*--background-body: linear-gradient(to right, #9796f0, #fbc7d4);*/
  /*--background-body: url('../../static/img/mountain_light.png') no-repeat center center/cover;*/
  --background-body:
  linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
  ),
  url("../../static/img/mountain_light.png") no-repeat center center/cover;
  --primary-color: #395886;
  --secondary-color: #8AAEE0;
  --tertiary-color: #9796f0;
  --quaternary-color: #e0e0ee;
  --danger-color: #bb2d3b;
  --danger-border-color: #b02a37;
  --text-light: #f8fbff;
  --text-dark: #151426;
  --text-secondary: #c3c2c8;
  --text-muted: #f0f0f0;
  --text-hover: #f3f8fe;
  --background-body-start: rgba(3, 32, 48, 1);
  --background-body-middle: rgba(2, 43, 66, 1);
  --background-body-end: rgba(0, 53, 84, 1);
  --background-calendar-header: var(--primary-color);
  --background-calendar-weekdays: var(--quaternary-color);
  --background-calendar-days-hover: var(--quaternary-color);
  --background-month-list: var(--tertiary-color);
  --background-month-list-hover: var(--primary-color);
  --background-todo-item-hover: var(--quaternary-color);
  --btn-bg: var(--primary-color);
  --btn-hover-bg: var(--primary-color);
  --btn-border-color: var(--secondary-color);
  --btn-hover-border-color: var(--primary-color);
  --btn-color: var(--secondary-color);
  --btn-hover-color: var(--text-light);
  --btn-active-bg: var(--primary-color);
  --btn-active-border-color: var(--primary-color);
  --custom-border: 1px solid var(--tertiary-color);
  --border-radius: 4px;
  --shadow: rgba(100, 100, 111, 0.2) 5px 1px 20px 5px;
  --color-toggle-light: #fff;
  --color-toggle-dark: #000;
  --font-family-primary: "Manrope", sans-serif;
  --font-family-primary-extra-bold: "Manrope", sans-serif;
  --font-family-secondary: "Outfit", sans-serif;
  --font-family-secondary-black: "Outfit", sans-serif;
}

body.dark {
  /*--background-body: linear-gradient(90deg, rgba(26,29,41,1) 0%, rgba(61,63,74,1) 25%, rgba(125,132,145,1) 75%, rgba(177,178,181,1) 100%);*/
  /*--background-body: url('../../static/img/mountain_dark.png') no-repeat center center/cover;*/
  --background-body:
  linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
  ),
  url("../../static/img/mountain_dark.png") no-repeat center center/cover;
  --primary-color: #1A1D29;
  --secondary-color: #3D3F4A;
  --tertiary-color: #7D8491;
  --quaternary-color: #B1B2B5;
  --danger-color: #bb2d3b;
  --danger-border-color: #b02a37;
  --text-light: #f8fbff;
  --text-dark: #151426;
  --text-secondary: #c3c2c8;
  --text-muted: #f0f0f0;
  --text-hover: #f3f8fe;
  --background-body-start: rgba(3, 32, 48, 1);
  --background-body-middle: rgba(2, 43, 66, 1);
  --background-body-end: rgba(0, 53, 84, 1);
  --background-calendar-header: var(--primary-color);
  --background-calendar-weekdays: var(--quaternary-color);
  --background-calendar-days-hover: var(--quaternary-color);
  --background-month-list: var(--tertiary-color);
  --background-month-list-hover: var(--primary-color);
  --background-todo-item-hover: var(--quaternary-color);
  --btn-bg: var(--primary-color);
  --btn-hover-bg: var(--primary-color);
  --btn-border-color: var(--secondary-color);
  --btn-hover-border-color: var(--primary-color);
  --btn-color: var(--secondary-color);
  --btn-hover-color: var(--text-light);
  --btn-active-bg: var(--primary-color);
  --btn-active-border-color: var(--primary-color);
  --custom-border: 1px solid var(--tertiary-color);
  --border-radius: 4px;
  --shadow: rgba(100, 100, 111, 0.2) 5px 1px 20px 5px;
  --color-toggle-light: #eee;
  --color-toggle-dark: #000;
}

.calendar__week-days div:hover {
  color: var(--text-light);
  transform: scale(1.2);
}
.calendar__week-days div:hover {
  transition: all 0.2s ease-in-out;
}
.calendar__days div {
  animation: to-top 1s forwards;
}
.calendar__days div.calendar__day--todo-hover-created {
  color: var(--text-dark) !important;
  background-color: var(--background-calendar-days-hover) !important;
  border: 1px solid var(--primary-color) !important;
  box-shadow: 0px 0px 30px 0 rgba(227, 228, 237, 0.37) !important;
}
.calendar__days div.calendar__day--todo-hover-created {
  border-radius: 20%;
}
.calendar__days div.calendar__day--todo-hover-created {
  transition: background-color 0.3s ease-in-out;
}
.calendar__days div.calendar__day--todo-hover-created {
  box-shadow: 0px 0px 30px 0 rgba(227, 228, 237, 0.37);
}
.calendar__days div:hover {
  color: var(--text-dark);
  background-color: var(--background-calendar-days-hover);
  border: 1px solid var(--primary-color);
}
.calendar__days div:hover {
  border-radius: 20%;
}
.calendar__days div:hover {
  transition: width 0.2s ease-in-out;
}
.calendar__days div:hover {
  transition: height 0.2s ease-in-out;
}
.calendar__days div.calendar__day--current-date {
  color: var(--text-light);
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
}
.calendar__days div.calendar__day--current-date {
  border-radius: 20%;
}
.calendar__days div.calendar__day--current-date {
  transition: background-color 0.3s ease-in-out;
}
.calendar__days div.calendar__day--current-date {
  box-shadow: 0px 0px 30px 0 rgba(227, 228, 237, 0.37);
}
.calendar__month-list {
  position: relative;
  top: -20px;
  background-color: var(--light-btn);
  color: var(--tertiary-color);
  display: grid;
  grid-template-columns: repeat(3, auto);
  border-radius: 20px;
  border: 2px solid var(--primary-color);
}
.calendar__month-list {
  box-shadow: var(--shadow);
}
.calendar__month-list div {
  display: grid;
  place-items: center;
  margin: 5px;
  font-family: var(--font-family-secondary-black);
  cursor: pointer;
}
.calendar__month-list div {
  border-radius: 12px;
}
.calendar__month-list.calendar__month-list--show {
  display: grid;
  animation: showtime 1s forwards;
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  top: -30px;
  font-family: var(--font-family-primary);
}
.calendar__month-list.calendar__month-list--show {
  box-shadow: 0px 0px 30px 0 rgba(227, 228, 237, 0.37);
}
.calendar__month-list:hover {
  border: 2px solid var(--tertiary-color);
}
.calendar__month-list:hover {
  box-shadow: 0px 0px 30px 0 rgba(227, 228, 237, 0.37);
}
.calendar__month-list--hideonce {
  visibility: hidden;
}
.calendar__month-list--hide {
  animation: to-right 1s forwards;
  visibility: hidden;
  pointer-events: none;
}
.calendar__month-item--active {
  background-color: var(--primary-color);
  color: var(--text-muted);
}
.calendar__month-item:hover {
  background-color: var(--primary-color);
  color: var(--text-muted);
}

:root {
  /*--background-body: linear-gradient(to right, #9796f0, #fbc7d4);*/
  /*--background-body: url('../../static/img/mountain_light.png') no-repeat center center/cover;*/
  --background-body:
  linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
  ),
  url("../../static/img/mountain_light.png") no-repeat center center/cover;
  --primary-color: #395886;
  --secondary-color: #8AAEE0;
  --tertiary-color: #9796f0;
  --quaternary-color: #e0e0ee;
  --danger-color: #bb2d3b;
  --danger-border-color: #b02a37;
  --text-light: #f8fbff;
  --text-dark: #151426;
  --text-secondary: #c3c2c8;
  --text-muted: #f0f0f0;
  --text-hover: #f3f8fe;
  --background-body-start: rgba(3, 32, 48, 1);
  --background-body-middle: rgba(2, 43, 66, 1);
  --background-body-end: rgba(0, 53, 84, 1);
  --background-calendar-header: var(--primary-color);
  --background-calendar-weekdays: var(--quaternary-color);
  --background-calendar-days-hover: var(--quaternary-color);
  --background-month-list: var(--tertiary-color);
  --background-month-list-hover: var(--primary-color);
  --background-todo-item-hover: var(--quaternary-color);
  --btn-bg: var(--primary-color);
  --btn-hover-bg: var(--primary-color);
  --btn-border-color: var(--secondary-color);
  --btn-hover-border-color: var(--primary-color);
  --btn-color: var(--secondary-color);
  --btn-hover-color: var(--text-light);
  --btn-active-bg: var(--primary-color);
  --btn-active-border-color: var(--primary-color);
  --custom-border: 1px solid var(--tertiary-color);
  --border-radius: 4px;
  --shadow: rgba(100, 100, 111, 0.2) 5px 1px 20px 5px;
  --color-toggle-light: #fff;
  --color-toggle-dark: #000;
  --font-family-primary: "Manrope", sans-serif;
  --font-family-primary-extra-bold: "Manrope", sans-serif;
  --font-family-secondary: "Outfit", sans-serif;
  --font-family-secondary-black: "Outfit", sans-serif;
}

body.dark {
  /*--background-body: linear-gradient(90deg, rgba(26,29,41,1) 0%, rgba(61,63,74,1) 25%, rgba(125,132,145,1) 75%, rgba(177,178,181,1) 100%);*/
  /*--background-body: url('../../static/img/mountain_dark.png') no-repeat center center/cover;*/
  --background-body:
  linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
  ),
  url("../../static/img/mountain_dark.png") no-repeat center center/cover;
  --primary-color: #1A1D29;
  --secondary-color: #3D3F4A;
  --tertiary-color: #7D8491;
  --quaternary-color: #B1B2B5;
  --danger-color: #bb2d3b;
  --danger-border-color: #b02a37;
  --text-light: #f8fbff;
  --text-dark: #151426;
  --text-secondary: #c3c2c8;
  --text-muted: #f0f0f0;
  --text-hover: #f3f8fe;
  --background-body-start: rgba(3, 32, 48, 1);
  --background-body-middle: rgba(2, 43, 66, 1);
  --background-body-end: rgba(0, 53, 84, 1);
  --background-calendar-header: var(--primary-color);
  --background-calendar-weekdays: var(--quaternary-color);
  --background-calendar-days-hover: var(--quaternary-color);
  --background-month-list: var(--tertiary-color);
  --background-month-list-hover: var(--primary-color);
  --background-todo-item-hover: var(--quaternary-color);
  --btn-bg: var(--primary-color);
  --btn-hover-bg: var(--primary-color);
  --btn-border-color: var(--secondary-color);
  --btn-hover-border-color: var(--primary-color);
  --btn-color: var(--secondary-color);
  --btn-hover-color: var(--text-light);
  --btn-active-bg: var(--primary-color);
  --btn-active-border-color: var(--primary-color);
  --custom-border: 1px solid var(--tertiary-color);
  --border-radius: 4px;
  --shadow: rgba(100, 100, 111, 0.2) 5px 1px 20px 5px;
  --color-toggle-light: #eee;
  --color-toggle-dark: #000;
}

.calendar {
  width: 400px;
  clip-path: inset(0 0 0 0);
  padding: 20px 50px 0px 50px;
  border: 2px solid rgba(255, 255, 255, 0.18);
}
.calendar {
  border-radius: 25px;
}
.calendar__header {
  background: var(--background-calendar-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: var(--text-light);
  padding: 10px;
  border: 0.2rem solid var(--tertiary-color);
}
.calendar__header {
  border-radius: 15px;
}
.calendar__week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--background-calendar-weekdays);
  font-family: var(--font-family-secondary);
  cursor: pointer;
}
.calendar__week-days div {
  display: grid;
  place-items: center;
  height: 50px;
  color: var(--text-dark);
}
.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: var(--text-light);
  font-family: var(--font-family-secondary-black);
}
.calendar__days div {
  margin: 1px;
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
}
.calendar__month-picker {
  font-family: var(--font-family-primary);
  font-size: 1.4rem;
  padding: 5px 10px;
  cursor: pointer;
}
.calendar__month-picker {
  border-radius: 10px;
}
.calendar__month-picker:hover {
  background-color: var(--tertiary-color);
  color: var(--text-light);
}
.calendar__year-picker {
  display: flex;
  align-items: center;
}
.calendar__year-change {
  height: 30px;
  width: 30px;
  display: grid;
  place-items: center;
  margin: 0px 10px;
  cursor: pointer;
}
.calendar__year-change {
  border-radius: 50%;
}
.calendar__year-change:hover {
  background-color: var(--tertiary-color);
  transform: scale(1.12);
}
.calendar__year-change:hover {
  transition: background-color 0.2s ease-in-out;
}
.calendar span {
  font-size: 1rem;
}

@keyframes to-top {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}
@keyframes to-left {
  0% {
    transform: translatex(230%);
    opacity: 1;
  }
  100% {
    transform: translatex(0);
    opacity: 1;
  }
}
@keyframes to-right {
  10% {
    transform: translatex(0);
    opacity: 1;
  }
  100% {
    transform: translatex(-150%);
    opacity: 1;
  }
}
@keyframes showtime {
  0% {
    transform: translatex(250%);
    opacity: 1;
  }
  100% {
    transform: translatex(0%);
    opacity: 1;
  }
}
@keyframes hidetime {
  0% {
    transform: translatex(0%);
    opacity: 1;
  }
  100% {
    transform: translatex(-370%);
    opacity: 1;
  }
}
:root {
  /*--background-body: linear-gradient(to right, #9796f0, #fbc7d4);*/
  /*--background-body: url('../../static/img/mountain_light.png') no-repeat center center/cover;*/
  --background-body:
  linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
  ),
  url("../../static/img/mountain_light.png") no-repeat center center/cover;
  --primary-color: #395886;
  --secondary-color: #8AAEE0;
  --tertiary-color: #9796f0;
  --quaternary-color: #e0e0ee;
  --danger-color: #bb2d3b;
  --danger-border-color: #b02a37;
  --text-light: #f8fbff;
  --text-dark: #151426;
  --text-secondary: #c3c2c8;
  --text-muted: #f0f0f0;
  --text-hover: #f3f8fe;
  --background-body-start: rgba(3, 32, 48, 1);
  --background-body-middle: rgba(2, 43, 66, 1);
  --background-body-end: rgba(0, 53, 84, 1);
  --background-calendar-header: var(--primary-color);
  --background-calendar-weekdays: var(--quaternary-color);
  --background-calendar-days-hover: var(--quaternary-color);
  --background-month-list: var(--tertiary-color);
  --background-month-list-hover: var(--primary-color);
  --background-todo-item-hover: var(--quaternary-color);
  --btn-bg: var(--primary-color);
  --btn-hover-bg: var(--primary-color);
  --btn-border-color: var(--secondary-color);
  --btn-hover-border-color: var(--primary-color);
  --btn-color: var(--secondary-color);
  --btn-hover-color: var(--text-light);
  --btn-active-bg: var(--primary-color);
  --btn-active-border-color: var(--primary-color);
  --custom-border: 1px solid var(--tertiary-color);
  --border-radius: 4px;
  --shadow: rgba(100, 100, 111, 0.2) 5px 1px 20px 5px;
  --color-toggle-light: #fff;
  --color-toggle-dark: #000;
  --font-family-primary: "Manrope", sans-serif;
  --font-family-primary-extra-bold: "Manrope", sans-serif;
  --font-family-secondary: "Outfit", sans-serif;
  --font-family-secondary-black: "Outfit", sans-serif;
}

body.dark {
  /*--background-body: linear-gradient(90deg, rgba(26,29,41,1) 0%, rgba(61,63,74,1) 25%, rgba(125,132,145,1) 75%, rgba(177,178,181,1) 100%);*/
  /*--background-body: url('../../static/img/mountain_dark.png') no-repeat center center/cover;*/
  --background-body:
  linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
  ),
  url("../../static/img/mountain_dark.png") no-repeat center center/cover;
  --primary-color: #1A1D29;
  --secondary-color: #3D3F4A;
  --tertiary-color: #7D8491;
  --quaternary-color: #B1B2B5;
  --danger-color: #bb2d3b;
  --danger-border-color: #b02a37;
  --text-light: #f8fbff;
  --text-dark: #151426;
  --text-secondary: #c3c2c8;
  --text-muted: #f0f0f0;
  --text-hover: #f3f8fe;
  --background-body-start: rgba(3, 32, 48, 1);
  --background-body-middle: rgba(2, 43, 66, 1);
  --background-body-end: rgba(0, 53, 84, 1);
  --background-calendar-header: var(--primary-color);
  --background-calendar-weekdays: var(--quaternary-color);
  --background-calendar-days-hover: var(--quaternary-color);
  --background-month-list: var(--tertiary-color);
  --background-month-list-hover: var(--primary-color);
  --background-todo-item-hover: var(--quaternary-color);
  --btn-bg: var(--primary-color);
  --btn-hover-bg: var(--primary-color);
  --btn-border-color: var(--secondary-color);
  --btn-hover-border-color: var(--primary-color);
  --btn-color: var(--secondary-color);
  --btn-hover-color: var(--text-light);
  --btn-active-bg: var(--primary-color);
  --btn-active-border-color: var(--primary-color);
  --custom-border: 1px solid var(--tertiary-color);
  --border-radius: 4px;
  --shadow: rgba(100, 100, 111, 0.2) 5px 1px 20px 5px;
  --color-toggle-light: #eee;
  --color-toggle-dark: #000;
}

.calendar__date-time-format {
  border: 0.2rem solid var(--tertiary-color);
  height: max-content;
  font-family: var(--font-family-primary-extra-bold);
  position: relative;
  top: 40px;
  justify-content: center;
  padding: 30px 60px 30px 50px;
  margin-bottom: -80px;
}
.calendar__date-time-format {
  border-radius: 15px;
}
.calendar__date-time-format {
  box-shadow: 0px 0px 30px 0 rgba(227, 228, 237, 0.37);
}
.calendar__day-text-format {
  display: block;
  padding: 25px 25px;
  font-family: var(--font-family-primary);
  /*font-weight: bold;*/
  font-size: 1.5rem;
  padding-right: 3%;
  border-right: 4px solid var(--secondary-color);
  position: absolute;
  left: -1rem;
  top: 2.5rem;
  color: var(--text-light);
}
.calendar__day-text-format--hideTime {
  animation: hidetime 1.5s forwards;
}
.calendar__day-text-format--showtime {
  animation: showtime 3s forwards;
}
.calendar__date-time-value {
  border: 0.2rem solid var(--quaternary-color);
  font-family: var(--font-family-secondary-black);
  font-size: 1rem;
  display: block;
  height: max-content;
  position: relative;
  left: 27%;
  top: -3px;
  text-align: center;
  padding: 10px 10px;
  color: var(--quaternary-color);
}
.calendar__date-time-value {
  border-radius: 15px;
}
.calendar__date-time-value {
  box-shadow: 0px 0px 30px 0 rgba(227, 228, 237, 0.37);
}
.calendar__time-format {
  font-size: 1.5rem;
}
.calendar__time-format--hideTime {
  animation: hidetime 1.5s forwards;
}
.calendar__time-format--showtime {
  animation: showtime 3s forwards;
}
.calendar__day-text-format--hidetime, .calendar__date-format--hideTime, .calendar__date-time-value--hideTime, .calendar__date-time-format--hideTime {
  animation: hidetime 1.5s forwards;
}
.calendar__date-time-format--showtime {
  animation: showtime 2.5s forwards;
}
.calendar__date-format--showtime, .calendar__date-time-value--showtime, .calendar__date-time-format--showtime {
  animation: showtime 1s forwards;
}
.calendar--hidetime {
  animation: hidetime 1.5s forwards;
}
.calendar--showtime {
  animation: showtime 3s forwards;
}

:root {
  /*--background-body: linear-gradient(to right, #9796f0, #fbc7d4);*/
  /*--background-body: url('../../static/img/mountain_light.png') no-repeat center center/cover;*/
  --background-body:
  linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
  ),
  url("../../static/img/mountain_light.png") no-repeat center center/cover;
  --primary-color: #395886;
  --secondary-color: #8AAEE0;
  --tertiary-color: #9796f0;
  --quaternary-color: #e0e0ee;
  --danger-color: #bb2d3b;
  --danger-border-color: #b02a37;
  --text-light: #f8fbff;
  --text-dark: #151426;
  --text-secondary: #c3c2c8;
  --text-muted: #f0f0f0;
  --text-hover: #f3f8fe;
  --background-body-start: rgba(3, 32, 48, 1);
  --background-body-middle: rgba(2, 43, 66, 1);
  --background-body-end: rgba(0, 53, 84, 1);
  --background-calendar-header: var(--primary-color);
  --background-calendar-weekdays: var(--quaternary-color);
  --background-calendar-days-hover: var(--quaternary-color);
  --background-month-list: var(--tertiary-color);
  --background-month-list-hover: var(--primary-color);
  --background-todo-item-hover: var(--quaternary-color);
  --btn-bg: var(--primary-color);
  --btn-hover-bg: var(--primary-color);
  --btn-border-color: var(--secondary-color);
  --btn-hover-border-color: var(--primary-color);
  --btn-color: var(--secondary-color);
  --btn-hover-color: var(--text-light);
  --btn-active-bg: var(--primary-color);
  --btn-active-border-color: var(--primary-color);
  --custom-border: 1px solid var(--tertiary-color);
  --border-radius: 4px;
  --shadow: rgba(100, 100, 111, 0.2) 5px 1px 20px 5px;
  --color-toggle-light: #fff;
  --color-toggle-dark: #000;
  --font-family-primary: "Manrope", sans-serif;
  --font-family-primary-extra-bold: "Manrope", sans-serif;
  --font-family-secondary: "Outfit", sans-serif;
  --font-family-secondary-black: "Outfit", sans-serif;
}

body.dark {
  /*--background-body: linear-gradient(90deg, rgba(26,29,41,1) 0%, rgba(61,63,74,1) 25%, rgba(125,132,145,1) 75%, rgba(177,178,181,1) 100%);*/
  /*--background-body: url('../../static/img/mountain_dark.png') no-repeat center center/cover;*/
  --background-body:
  linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
  ),
  url("../../static/img/mountain_dark.png") no-repeat center center/cover;
  --primary-color: #1A1D29;
  --secondary-color: #3D3F4A;
  --tertiary-color: #7D8491;
  --quaternary-color: #B1B2B5;
  --danger-color: #bb2d3b;
  --danger-border-color: #b02a37;
  --text-light: #f8fbff;
  --text-dark: #151426;
  --text-secondary: #c3c2c8;
  --text-muted: #f0f0f0;
  --text-hover: #f3f8fe;
  --background-body-start: rgba(3, 32, 48, 1);
  --background-body-middle: rgba(2, 43, 66, 1);
  --background-body-end: rgba(0, 53, 84, 1);
  --background-calendar-header: var(--primary-color);
  --background-calendar-weekdays: var(--quaternary-color);
  --background-calendar-days-hover: var(--quaternary-color);
  --background-month-list: var(--tertiary-color);
  --background-month-list-hover: var(--primary-color);
  --background-todo-item-hover: var(--quaternary-color);
  --btn-bg: var(--primary-color);
  --btn-hover-bg: var(--primary-color);
  --btn-border-color: var(--secondary-color);
  --btn-hover-border-color: var(--primary-color);
  --btn-color: var(--secondary-color);
  --btn-hover-color: var(--text-light);
  --btn-active-bg: var(--primary-color);
  --btn-active-border-color: var(--primary-color);
  --custom-border: 1px solid var(--tertiary-color);
  --border-radius: 4px;
  --shadow: rgba(100, 100, 111, 0.2) 5px 1px 20px 5px;
  --color-toggle-light: #eee;
  --color-toggle-dark: #000;
}

@keyframes to-top {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}
@keyframes to-left {
  0% {
    transform: translatex(230%);
    opacity: 1;
  }
  100% {
    transform: translatex(0);
    opacity: 1;
  }
}
@keyframes to-right {
  10% {
    transform: translatex(0);
    opacity: 1;
  }
  100% {
    transform: translatex(-150%);
    opacity: 1;
  }
}
@keyframes showtime {
  0% {
    transform: translatex(250%);
    opacity: 1;
  }
  100% {
    transform: translatex(0%);
    opacity: 1;
  }
}
@keyframes hidetime {
  0% {
    transform: translatex(0%);
    opacity: 1;
  }
  100% {
    transform: translatex(-370%);
    opacity: 1;
  }
}
.theme__wrapper {
  padding: 10px 20px;
  backdrop-filter: blur(30px);
  border: 0.2rem solid var(--tertiary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 80px;
}
.theme__wrapper {
  border-radius: 25px;
}
.theme__wrapper {
  box-shadow: 0px 0px 30px 0 rgba(227, 228, 237, 0.37);
}

.theme__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  padding: 2px 2px;
  background-color: var(--color-toggle-light);
  animation: showtime 1s ease-out;
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
}
.theme__container {
  border-radius: 35px;
}
.theme__container.IsDark {
  background-color: var(--color-toggle-dark);
}
.theme__container input {
  display: none;
}
.theme__container div {
  width: 20px;
  height: 20px;
  position: relative;
  transform: scale(1) rotate(-2deg);
  transition: box-shadow 0.5s ease, transform 0.4s ease 0.1s;
}
.theme__container div {
  border-radius: 50%;
}
.theme__container div {
  box-shadow: inset 8px -8px 0 0 var(--color-toggle-dark);
}
.theme__container div::before {
  content: "";
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
  transition: background 0.3s ease;
}
.theme__container div::after {
  width: 4px;
  height: 4px;
  margin: -2px 0 0 -2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s ease;
  content: "";
}
.theme__container div::after {
  border-radius: 50%;
}
.theme__container div::after {
  box-shadow: 0 -13px 0 var(--color-toggle-light), 0 13px 0 var(--color-toggle-light), 13px 0 0 var(--color-toggle-light), -13px 0 0 var(--color-toggle-light), 9px 9px 0 var(--color-toggle-light), -9px 9px 0 var(--color-toggle-light), 9px -9px 0 var(--color-toggle-light), -9px -9px 0 var(--color-toggle-light);
}
.theme__container input:checked + div {
  transform: scale(0.5) rotate(0deg);
  transition: transform 0.3s ease 0.1s, box-shadow 0.2s ease;
}
.theme__container input:checked + div {
  box-shadow: inset 32px -32px 0 0 var(--color-toggle-light);
}
.theme__container input:checked + div::before {
  background: var(--color-toggle-light);
  transition: background 0.3s ease 0.1s;
}
.theme__container input:checked + div::after {
  transform: scale(1.5);
  transition: transform 0.5s ease 0.15s;
}

:root {
  /*--background-body: linear-gradient(to right, #9796f0, #fbc7d4);*/
  /*--background-body: url('../../static/img/mountain_light.png') no-repeat center center/cover;*/
  --background-body:
  linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
  ),
  url("../../static/img/mountain_light.png") no-repeat center center/cover;
  --primary-color: #395886;
  --secondary-color: #8AAEE0;
  --tertiary-color: #9796f0;
  --quaternary-color: #e0e0ee;
  --danger-color: #bb2d3b;
  --danger-border-color: #b02a37;
  --text-light: #f8fbff;
  --text-dark: #151426;
  --text-secondary: #c3c2c8;
  --text-muted: #f0f0f0;
  --text-hover: #f3f8fe;
  --background-body-start: rgba(3, 32, 48, 1);
  --background-body-middle: rgba(2, 43, 66, 1);
  --background-body-end: rgba(0, 53, 84, 1);
  --background-calendar-header: var(--primary-color);
  --background-calendar-weekdays: var(--quaternary-color);
  --background-calendar-days-hover: var(--quaternary-color);
  --background-month-list: var(--tertiary-color);
  --background-month-list-hover: var(--primary-color);
  --background-todo-item-hover: var(--quaternary-color);
  --btn-bg: var(--primary-color);
  --btn-hover-bg: var(--primary-color);
  --btn-border-color: var(--secondary-color);
  --btn-hover-border-color: var(--primary-color);
  --btn-color: var(--secondary-color);
  --btn-hover-color: var(--text-light);
  --btn-active-bg: var(--primary-color);
  --btn-active-border-color: var(--primary-color);
  --custom-border: 1px solid var(--tertiary-color);
  --border-radius: 4px;
  --shadow: rgba(100, 100, 111, 0.2) 5px 1px 20px 5px;
  --color-toggle-light: #fff;
  --color-toggle-dark: #000;
  --font-family-primary: "Manrope", sans-serif;
  --font-family-primary-extra-bold: "Manrope", sans-serif;
  --font-family-secondary: "Outfit", sans-serif;
  --font-family-secondary-black: "Outfit", sans-serif;
}

body.dark {
  /*--background-body: linear-gradient(90deg, rgba(26,29,41,1) 0%, rgba(61,63,74,1) 25%, rgba(125,132,145,1) 75%, rgba(177,178,181,1) 100%);*/
  /*--background-body: url('../../static/img/mountain_dark.png') no-repeat center center/cover;*/
  --background-body:
  linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
  ),
  url("../../static/img/mountain_dark.png") no-repeat center center/cover;
  --primary-color: #1A1D29;
  --secondary-color: #3D3F4A;
  --tertiary-color: #7D8491;
  --quaternary-color: #B1B2B5;
  --danger-color: #bb2d3b;
  --danger-border-color: #b02a37;
  --text-light: #f8fbff;
  --text-dark: #151426;
  --text-secondary: #c3c2c8;
  --text-muted: #f0f0f0;
  --text-hover: #f3f8fe;
  --background-body-start: rgba(3, 32, 48, 1);
  --background-body-middle: rgba(2, 43, 66, 1);
  --background-body-end: rgba(0, 53, 84, 1);
  --background-calendar-header: var(--primary-color);
  --background-calendar-weekdays: var(--quaternary-color);
  --background-calendar-days-hover: var(--quaternary-color);
  --background-month-list: var(--tertiary-color);
  --background-month-list-hover: var(--primary-color);
  --background-todo-item-hover: var(--quaternary-color);
  --btn-bg: var(--primary-color);
  --btn-hover-bg: var(--primary-color);
  --btn-border-color: var(--secondary-color);
  --btn-hover-border-color: var(--primary-color);
  --btn-color: var(--secondary-color);
  --btn-hover-color: var(--text-light);
  --btn-active-bg: var(--primary-color);
  --btn-active-border-color: var(--primary-color);
  --custom-border: 1px solid var(--tertiary-color);
  --border-radius: 4px;
  --shadow: rgba(100, 100, 111, 0.2) 5px 1px 20px 5px;
  --color-toggle-light: #eee;
  --color-toggle-dark: #000;
}

.todo__container {
  flex: 3;
  margin-right: 20px;
}
.todo__container .list-group-custom {
  border: 2px solid var(--btn-border-color);
  color: var(--text-light);
  font-family: var(--font-family-secondary);
  --bs-list-group-bg: var(--tertiary-color);
}
.todo__container .hover-info {
  margin: 5px;
  position: absolute;
  background-color: transparent;
  border: var(--custom-border);
  padding: 10px;
  z-index: 10;
  color: var(--text-light);
  font-weight: bold;
  font-family: var(--font-family-primary-extra-bold);
}
.todo__container .hover-info {
  border-radius: 10px;
}
.todo__container .list-group-item {
  color: var(--primary-color);
}
.todo__container .list-group-item:hover {
  background-color: var(--background-todo-item-hover);
}
.todo__container .form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.todo__container .form-control:focus {
  border-color: var(--quaternary-color);
}
.todo__container .form-control:focus {
  box-shadow: 0 0 0 0.15rem var(--quaternary-color);
}

.app__container {
  padding: 50px;
}
.app__container .todo__container {
  flex: 3;
  margin-right: 20px;
}
.app__container .calendar__container {
  flex: 1;
}
@media screen and (max-width: 900px) {
  .app__container .calendar__container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
.app__container .header {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  /*--background-body: linear-gradient(to right, #9796f0, #fbc7d4);*/
  /*--background-body: url('../../static/img/mountain_light.png') no-repeat center center/cover;*/
  --background-body:
  linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
  ),
  url("../../static/img/mountain_light.png") no-repeat center center/cover;
  --primary-color: #395886;
  --secondary-color: #8AAEE0;
  --tertiary-color: #9796f0;
  --quaternary-color: #e0e0ee;
  --danger-color: #bb2d3b;
  --danger-border-color: #b02a37;
  --text-light: #f8fbff;
  --text-dark: #151426;
  --text-secondary: #c3c2c8;
  --text-muted: #f0f0f0;
  --text-hover: #f3f8fe;
  --background-body-start: rgba(3, 32, 48, 1);
  --background-body-middle: rgba(2, 43, 66, 1);
  --background-body-end: rgba(0, 53, 84, 1);
  --background-calendar-header: var(--primary-color);
  --background-calendar-weekdays: var(--quaternary-color);
  --background-calendar-days-hover: var(--quaternary-color);
  --background-month-list: var(--tertiary-color);
  --background-month-list-hover: var(--primary-color);
  --background-todo-item-hover: var(--quaternary-color);
  --btn-bg: var(--primary-color);
  --btn-hover-bg: var(--primary-color);
  --btn-border-color: var(--secondary-color);
  --btn-hover-border-color: var(--primary-color);
  --btn-color: var(--secondary-color);
  --btn-hover-color: var(--text-light);
  --btn-active-bg: var(--primary-color);
  --btn-active-border-color: var(--primary-color);
  --custom-border: 1px solid var(--tertiary-color);
  --border-radius: 4px;
  --shadow: rgba(100, 100, 111, 0.2) 5px 1px 20px 5px;
  --color-toggle-light: #fff;
  --color-toggle-dark: #000;
  --font-family-primary: "Manrope", sans-serif;
  --font-family-primary-extra-bold: "Manrope", sans-serif;
  --font-family-secondary: "Outfit", sans-serif;
  --font-family-secondary-black: "Outfit", sans-serif;
}

body.dark {
  /*--background-body: linear-gradient(90deg, rgba(26,29,41,1) 0%, rgba(61,63,74,1) 25%, rgba(125,132,145,1) 75%, rgba(177,178,181,1) 100%);*/
  /*--background-body: url('../../static/img/mountain_dark.png') no-repeat center center/cover;*/
  --background-body:
  linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
  ),
  url("../../static/img/mountain_dark.png") no-repeat center center/cover;
  --primary-color: #1A1D29;
  --secondary-color: #3D3F4A;
  --tertiary-color: #7D8491;
  --quaternary-color: #B1B2B5;
  --danger-color: #bb2d3b;
  --danger-border-color: #b02a37;
  --text-light: #f8fbff;
  --text-dark: #151426;
  --text-secondary: #c3c2c8;
  --text-muted: #f0f0f0;
  --text-hover: #f3f8fe;
  --background-body-start: rgba(3, 32, 48, 1);
  --background-body-middle: rgba(2, 43, 66, 1);
  --background-body-end: rgba(0, 53, 84, 1);
  --background-calendar-header: var(--primary-color);
  --background-calendar-weekdays: var(--quaternary-color);
  --background-calendar-days-hover: var(--quaternary-color);
  --background-month-list: var(--tertiary-color);
  --background-month-list-hover: var(--primary-color);
  --background-todo-item-hover: var(--quaternary-color);
  --btn-bg: var(--primary-color);
  --btn-hover-bg: var(--primary-color);
  --btn-border-color: var(--secondary-color);
  --btn-hover-border-color: var(--primary-color);
  --btn-color: var(--secondary-color);
  --btn-hover-color: var(--text-light);
  --btn-active-bg: var(--primary-color);
  --btn-active-border-color: var(--primary-color);
  --custom-border: 1px solid var(--tertiary-color);
  --border-radius: 4px;
  --shadow: rgba(100, 100, 111, 0.2) 5px 1px 20px 5px;
  --color-toggle-light: #eee;
  --color-toggle-dark: #000;
}

.logo__container {
  border: 0.2rem solid var(--tertiary-color);
  text-align: center;
  padding: 40px;
  font-size: 2.2rem;
  max-width: 50%;
  margin: 50px 20px 50px 6px;
  height: 10px;
  backdrop-filter: blur(30px);
  font-family: var(--font-family-secondary-black);
}
@media screen and (max-width: 900px) {
  .logo__container {
    padding: 0px;
    height: 120px;
  }
}
.logo__container {
  border-radius: 25px;
}
.logo__container {
  box-shadow: 0px 0px 30px 0 rgba(227, 228, 237, 0.37);
}

:root {
  /*--background-body: linear-gradient(to right, #9796f0, #fbc7d4);*/
  /*--background-body: url('../../static/img/mountain_light.png') no-repeat center center/cover;*/
  --background-body:
  linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
  ),
  url("../../static/img/mountain_light.png") no-repeat center center/cover;
  --primary-color: #395886;
  --secondary-color: #8AAEE0;
  --tertiary-color: #9796f0;
  --quaternary-color: #e0e0ee;
  --danger-color: #bb2d3b;
  --danger-border-color: #b02a37;
  --text-light: #f8fbff;
  --text-dark: #151426;
  --text-secondary: #c3c2c8;
  --text-muted: #f0f0f0;
  --text-hover: #f3f8fe;
  --background-body-start: rgba(3, 32, 48, 1);
  --background-body-middle: rgba(2, 43, 66, 1);
  --background-body-end: rgba(0, 53, 84, 1);
  --background-calendar-header: var(--primary-color);
  --background-calendar-weekdays: var(--quaternary-color);
  --background-calendar-days-hover: var(--quaternary-color);
  --background-month-list: var(--tertiary-color);
  --background-month-list-hover: var(--primary-color);
  --background-todo-item-hover: var(--quaternary-color);
  --btn-bg: var(--primary-color);
  --btn-hover-bg: var(--primary-color);
  --btn-border-color: var(--secondary-color);
  --btn-hover-border-color: var(--primary-color);
  --btn-color: var(--secondary-color);
  --btn-hover-color: var(--text-light);
  --btn-active-bg: var(--primary-color);
  --btn-active-border-color: var(--primary-color);
  --custom-border: 1px solid var(--tertiary-color);
  --border-radius: 4px;
  --shadow: rgba(100, 100, 111, 0.2) 5px 1px 20px 5px;
  --color-toggle-light: #fff;
  --color-toggle-dark: #000;
  --font-family-primary: "Manrope", sans-serif;
  --font-family-primary-extra-bold: "Manrope", sans-serif;
  --font-family-secondary: "Outfit", sans-serif;
  --font-family-secondary-black: "Outfit", sans-serif;
}

body.dark {
  /*--background-body: linear-gradient(90deg, rgba(26,29,41,1) 0%, rgba(61,63,74,1) 25%, rgba(125,132,145,1) 75%, rgba(177,178,181,1) 100%);*/
  /*--background-body: url('../../static/img/mountain_dark.png') no-repeat center center/cover;*/
  --background-body:
  linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
  ),
  url("../../static/img/mountain_dark.png") no-repeat center center/cover;
  --primary-color: #1A1D29;
  --secondary-color: #3D3F4A;
  --tertiary-color: #7D8491;
  --quaternary-color: #B1B2B5;
  --danger-color: #bb2d3b;
  --danger-border-color: #b02a37;
  --text-light: #f8fbff;
  --text-dark: #151426;
  --text-secondary: #c3c2c8;
  --text-muted: #f0f0f0;
  --text-hover: #f3f8fe;
  --background-body-start: rgba(3, 32, 48, 1);
  --background-body-middle: rgba(2, 43, 66, 1);
  --background-body-end: rgba(0, 53, 84, 1);
  --background-calendar-header: var(--primary-color);
  --background-calendar-weekdays: var(--quaternary-color);
  --background-calendar-days-hover: var(--quaternary-color);
  --background-month-list: var(--tertiary-color);
  --background-month-list-hover: var(--primary-color);
  --background-todo-item-hover: var(--quaternary-color);
  --btn-bg: var(--primary-color);
  --btn-hover-bg: var(--primary-color);
  --btn-border-color: var(--secondary-color);
  --btn-hover-border-color: var(--primary-color);
  --btn-color: var(--secondary-color);
  --btn-hover-color: var(--text-light);
  --btn-active-bg: var(--primary-color);
  --btn-active-border-color: var(--primary-color);
  --custom-border: 1px solid var(--tertiary-color);
  --border-radius: 4px;
  --shadow: rgba(100, 100, 111, 0.2) 5px 1px 20px 5px;
  --color-toggle-light: #eee;
  --color-toggle-dark: #000;
}

.container {
  text-align: left;
  display: flex;
  justify-content: space-between;
  border: 0.2rem solid var(--tertiary-color);
  padding: 20px;
  border: 0.2rem solid var(--tertiary-color);
}
@media screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
.container {
  border-radius: 25px;
}
.container {
  box-shadow: 0px 0px 30px 0 rgba(227, 228, 237, 0.37);
}

@keyframes to-top {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}
@keyframes to-left {
  0% {
    transform: translatex(230%);
    opacity: 1;
  }
  100% {
    transform: translatex(0);
    opacity: 1;
  }
}
@keyframes to-right {
  10% {
    transform: translatex(0);
    opacity: 1;
  }
  100% {
    transform: translatex(-150%);
    opacity: 1;
  }
}
@keyframes showtime {
  0% {
    transform: translatex(250%);
    opacity: 1;
  }
  100% {
    transform: translatex(0%);
    opacity: 1;
  }
}
@keyframes hidetime {
  0% {
    transform: translatex(0%);
    opacity: 1;
  }
  100% {
    transform: translatex(-370%);
    opacity: 1;
  }
}
.reveal__loaded .reveal [class*=reveal-] {
  opacity: 0 !important;
  transform: translateY(-30px);
  transition: opacity 0s, transform 0s !important;
}
.reveal__loaded [class*=reveal-] {
  transition: opacity 1s cubic-bezier(0.5, 0, 0, 1), transform 1s cubic-bezier(0.5, 0, 0, 1);
}
.reveal__loaded .reveal-1 {
  transition-delay: 0.1s;
}
.reveal__loaded .reveal-2 {
  transition-delay: 0.2s;
}
.reveal__loaded .reveal-3 {
  transition-delay: 0.3s;
}
.reveal__loaded .reveal-4 {
  transition-delay: 0.4s;
}

@media (prefers-reduced-motion: reduce) {
  .reveal [class*=reveal-] {
    opacity: 1 !important;
    transform: translateY(0px) !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

/*# sourceMappingURL=index.css.map */
